.toast-alert {
  .MuiAlert-message {
    .alert-message {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  svg {
    width: 24px;
    height: 24px;
  }
}
